body{
	background: rgba(248,80,50,1);
	background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(100%, rgba(255,215,0,1)));
	background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ffd700', GradientType=1 );
}


#logo{

	position: relative;
	width: 250px;
	height: 250px;
	left: 25px;
	top: 25px;
	transition: all 1.2s;
}

#logo:hover{

	transform: rotate(360deg);
	


}

#linea1{
	position: absolute;
	top: 150px;
	left: 280px;
	width: 79.25%;
	height: 16px;
	background-color: black;
}

.cat{
	position: relative;
	height: 100px;
	width: auto;
	top: -100px;
	left: 50px;
	padding-right: 20px;
	padding-bottom: 2px;
	transition: all 1s;
	transform: scale(1);
}

.cat:hover{

	transform: scale(1.2);
}



#dex{
    position: absolute;
	height: 160px;
	margin-top: -10px;
	margin-left: 175px;
	transition: all 1s;
	transform: scale(1);
	z-index: 1;
	text-align: right;
	
}



#dex:hover {
	position: absolute;
	margin-top: 222px;
	margin-left: -340px;
	transition: all 1s;
	transform: scale(3.5) rotate(-24deg);
}



content{
	padding: 20px;

}

#pika{
	position: relative;
	margin-top: 100px;
	margin-left: 200px;
	height: 250px;
	width: auto;
}

.sliderImgs{
	position: absolute;
	margin-top: -326px;
	margin-left: 524px;
	height: 400px;
	width: auto;
}

#slider{
	position: absolute;
	margin-top: -25px;
	height: 500px;
	margin-left: 16px;

}

#char{

	position: absolute;
	height: 250px;
	width: auto;
	margin-left: 300px;
	margin-top: 100px;

}

#part2{

	margin-top: 200px;
	width: auto;
	height: 100%;
	padding: 40px;
	background-image: url("img/pokes.jpg");
	
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 0px solid #000000;

}


.news{

	z-index: 1;
	opacity: 2;
	margin: 20px;
	height: 250px;
	width: 500px;

	background-color: rgba(51, 51, 51, 1);

	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 0px solid #000000;

}

footer{
	
	position: absolute;
	width: 95%;
	height: auto;
	text-align: center;
	
}

footer p{
	font-size: 15px;
	font-family: sans-serif;
	color: #21232c;
}

footer a{
	text-decoration:none;  
	color: #21232c; 
}

/*/////////////FORMULARIOS///////////////*/

.form{
	margin-left: 460px;
	/*background-image: url("img/pokes2.jpg");*/
	background-color: #262626;
	margin-right: 500px;
	margin-bottom: 50px;
	padding:80px;
	
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 0px solid #000000;	
	/*///fuente///*/
	font-size: 20px;
	color: white;
	font-weight: bold;
	font-family: "Arial", Georgia, Serif;

}

input[type="text"],input[type="password"] {

	background-color: #8c8c8c;
	border: none;
	padding: 10px;
	margin: 10px;
	border-radius: 8px 8px 8px 8px;
	color: #fff;
}


input[type="submit"]{

	margin-left: 100px;	
	border-radius: 8px 8px 8px 8px;
	height: 30px;
	width: 100px;
}
