/***********************************************
*******************CUERPO *********************/
body{
	background: rgba(248,80,50,1);
	background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(100%, rgba(255,215,0,1)));
	background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,215,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ffd700', GradientType=1 );
}

a{
	text-decoration: none;
}

/***********************************************
*******************logo *********************/
#logo{

	position: relative;
	width: 250px;
	height: 250px;
	left: 25px;
	top: 25px;
	transition: all 1.2s;
}

#logo:hover{

	transform: rotate(360deg);
	
}

/***********************************************
*******************LINEA LOGO ******************/
#linea1{
	position: absolute;
	top: 150px;
	left: 280px;
	width: 79.25%;
	height: 16px;
	background-color: black;
}

.cat{
	position: relative;
	height: 100px;
	width: auto;
	top: -100px;
	left: 50px;
	padding-right: 20px;
	padding-bottom: 2px;
	transition: all 1s;
	transform: scale(1);
}

.cat:hover{

	transform: scale(1.2);
}

.bandera{
	height: 20px;
	width: auto;
    border: 1px solid black;
}

/***********************************************
*******************POKEDEX PAG. PRINCIPAL*******/
#dex{
    position: absolute;
	height: 160px;
	margin-top: -10px;
	margin-left: 175px;
	transition: all 1s;
	transform: scale(1);
	z-index: 1;
	
}

#dex:hover{
	position: absolute;
	margin-top: 350px;
	margin-left: 50px;
	transition: all 1s;
	transform: scale(3);
		-webkit-filter: blur(20%)
	filter: blur(20%);

}

/***********************************************
*******************POKEDEX PAG.NOTICIA ********/
#dex2{
	position: absolute;
	height: 160px;
	margin-top: -10px;
	margin-left: 60%;
	transition: all 1s;
	transform: scale(1);
	z-index: 1;
}

#dex2:hover{
	position: absolute;
	margin-top: 300px;
	margin-left: 300px;
	transition: all 1s;
	transform: scale(3.5);
		-webkit-filter: blur(20%)
	filter: blur(20%);
}

#log{
	position: absolute;
	height: 30%;
	margin-top: -10px;
	margin-left: 0px;
	z-index:1;
}

#user{
	position: absolute;
	font-size: 10px;
	margin-top: 150px;
	margin-left: 100px;
	z-index:2;
}


content{
	padding: 20px;

}

/***********************************************
*******************SLIDER *********************/
#pika{
	position: relative;
	margin-top: 100px;
	margin-left: 200px;
	height: 250px;
	width: auto;
}

.sliderImgs{
	position: absolute;
	margin-top: -326px;
	margin-left: 524px;
	height: 400px;
	width: auto;
}

#slider{
	position: absolute;
	margin-top: -25px;
	height: 500px;
	margin-left: 16px;

}

#char{

	position: absolute;
	height: 250px;
	width: auto;
	margin-left: 300px;
	margin-top: 100px;

}

#part2{

	margin-top: 50px;
	width: auto;
	height: 100%;
	padding: 40px;

}

/******************************************
*********PIE DE PÁGINA *******************/

footer{
	
	position: relative;
	width: 95%;
	height: auto;
	text-align: center;
	top: 50px;
}

footer p{
	font-size: 15px;
	font-family: sans-serif;
	color: #21232c;
}

footer a{
	text-decoration:none;  
	color: #21232c; 
}

/********************************************
*****FECHA ACTUAL (ARRIBA DE LAS NOTICIAS) */
#date{

	margin-left:30px;
	margin-top:25px;
	font-family: sans-serif;
	font-size:35px;

}

/*********************************************
***** CUERPO DE LA NOTICIA ******************/
#CuerpoNoticia{
	padding: 3px 10px;
  border: Powder 5px solid;
  border-radius: 20px;
	margin-top: 40px;
	margin-left:20px;

	
}

/**********************************************
***** IMAGEN DE LA NOTICIA GRANDE ************/
#ImgNoticia{
	float:left;
	margin-right: 50px;
	width:150px;
	height: 300px;
	width: auto;
  	border:  2px solid;
  	border-radius: 20px;
}

/**********************************************
***** FECHA NOTICIA PEQUEÑA ****************/
#FechaNoticia{
	margin-top: 5px ;
	text-align:center;
	font-family: sans-serif;
	font-size:20px;
}

/*********************************************
*** APARTADOS DE LA NOTICIA PRINCIPAL ********/
#Titulo{
	margin-left: 20px;
	margin-top:25px;
	font-family:Georgia;
	font-size:40px;
	font-style: bold;
}

#Subtitulo{
	margin-left: 20px;
	margin-top:15px;
	font-family:Georgia;
	font-size:30px;
	font-style: bold;
}
#TextoNotice{
	margin-left: 20px;
	margin-top:10px;
	font-family:Georgia;
	font-size:20px;
}

#Categoria{
	font-family: Georgia;
	margin-top:80px;
	margin-left: 50px;
}



#linea2{
	margin-top: 20px;
	width: 100%;
	height: 10px;
	background-color: black;
}

/*************************************
******VALORACIÓN ********/

.pball{
	display: inline-block;
	border: 2px solid black;
	border-radius: 50px;
	width: 250px;
	height: 50px;
	margin-left:5px;
	vertical-align: middle;
}

.valora{
	display: inline;
	opacity:0;
}

.valora:hover{
	opacity:1;
}

/*************************************
******NOTICIAS POR CATEGORIA ********/


#noticiaCategoriaIzq{
	margin-top:15px;
	width: 48%;
	height:250px;
	border-radius: 25px 25px 25px 25px;
-moz-border-radius: 25px 25px 25px 25px;
-webkit-border-radius: 25px 25px 25px 25px;
border: 3px solid #000000;
	float:left;
	text-decoration: none;
}
#noticiaCategoriaDer{
	margin-top:15px;
	width: 48%;
	height:250px;
	border-radius: 25px 25px 25px 25px;
-moz-border-radius: 25px 25px 25px 25px;
-webkit-border-radius: 25px 25px 25px 25px;
border: 3px solid #000000;
	float: right;
	text-decoration: none;
}

.tituloCategoria{
	margin-left: 260px;
	margin-top:10px;
	font-family:Georgia;
	font-size:20px;
	font-style: bold;
	width: 50%;
	color: black;
}
.subtituloCategoria{
	margin-left: 260px;
	margin-top:20px;
	font-family:Georgia;
	font-size:15px;
	font-style: bold;
	width: 320px;
	
}

.cuerpoCategoria{
	margin-left: 260px;
	margin-top:15px;
	font-family:Georgia;
	font-size:10px;
	font-style: bold;
	width: 49%;
	height: 33px;
	overflow-y: hidden;
	color: black;
}

.etc{
	margin-left: 260px;
	margin-bottom: 10px;
	font-family:Georgia;
	font-size:10px;
	font-style: bold;
	width: 49%;
	height: auto;
	color: black;
}

.imgCategoria{
	float:left;
	width:250px;
	height: 250px;
	border-radius: 20px;

}

.pokeball{
	display: inline;
}

.pokeball img{
	height:50px;
	width:auto;
}

span{
	text-align: middle;
}